html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: $darkBlue;
    font-weight: 800;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 22.75rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    justify-content: center;
}

// Card Styling

.advice-card {
    width: 33.75rem;
    height: 20.75rem;
    background-color: $darkGrayishBlue;
    border-radius: 1.25rem;

    @include breakpoint-down(small){
        width: 21.438rem;
    }
}

.advice-heading {
    margin-top: 2.938rem;
    font-size: 0.813rem;
    color: $neonGreen;
    line-height: 1.11rem;
    letter-spacing: 0.256rem;
    text-transform: uppercase;

    @include breakpoint-down(small){
        font-size: 0.688rem;
        letter-spacing: 0.216rem;
        line-height: 0.939rem;
        margin-top: 2.313rem;
    }
}

.advice-text {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.938rem;
    padding: 0 2.75rem 0 2.75rem;
    min-height: 9.875rem;

    @include breakpoint-down(small){
        padding: 0 1.688rem 0 1.688rem;
        min-height: 9.375rem;
    }
}

.quote {
    font-size: 1.75rem;
    line-height: 2.391rem;
    letter-spacing: -0.019rem;
    color: $lightCyan;
    display: table-cell;
    vertical-align: middle;
    align-items: center;

    @include breakpoint-down(small){
        font-size: 1.375rem;
        letter-spacing: -0.016rem;
        line-height: 2.049rem;
    }
}

.desktop-divider {
    margin-top: 1.563rem;
    width: 28rem;
    margin-bottom: 1.125rem;

    @include breakpoint-down(small){
        width: 18.438rem;
        margin-top: 1.495rem;
        margin-bottom: 0rem;
    }
}

// Button

.dice-btn {
    align-items: center;
    height: 4rem;
    width: 4rem;
    background-color: $neonGreen;
    margin: 0 auto;
    z-index: 1;
    border-radius: 50px;
    cursor: url('/images/pointer.svg'), auto;
    border: none;

    

    @include breakpoint-up(large){
        &:hover {
            background-color: $neonGreen;
            box-shadow: 0 0px 1.875rem 0.313rem $neonGreen;
            transition: all 0.2s ease-in-out;
        }
    }

    @include breakpoint-down(small){
        position: absolute;
        top: 96%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}

// Attribution

.attribution {
    color: $lightCyan;
    position: absolute;
    top: 93%;
    text-align: center;
    font-size: 1rem;
    align-items: center;
    width: 100%;

    @include breakpoint-down(small){
        top: 88%;
    }
    
    a {
        color: $neonGreen;
        text-decoration: none;
    }

    img{
        height: 1.875rem;
        width: 1.875rem;
        filter: invert(80%) sepia(61%) saturate(437%) hue-rotate(83deg) brightness(99%) contrast(105%);

        &:hover {
            transform: scale(1.2);
            transition: all 0 ease 0s;
            cursor: pointer;
        }
    }

    .attribution_img {
        margin-bottom: 0.625rem;
    }

}

.hidden {
    display: none;
}

